@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #05d8aa;
}

body {
  margin: 0;
  background-color: #fffefe;
  font-family: Poppins;
  font-size: 12px;
  overflow-x: hidden;
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*/////////

/* FIXED BUTTON*/
#fixedButton {
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 2000;
}

.side_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 1.3rem;
  margin: 0;
  background-color: #c5c4c485;
  backdrop-filter: blur(10px);
  padding: 18px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.item_li,
.item_link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_link:hover svg {
  fill: #01c597;
  transition: fill 0.3s ease;
}

.bar_item {
  position: relative;
  cursor: pointer;
}

.phonePopup {
  position: absolute;
  bottom: -30%;
  right: -100px;
  width: 15rem;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: right 0.2s, visibility 0.2s, opacity 0.1s;
}

.bar_item.active .phonePopup {
  right: 140%;
  visibility: visible;
  opacity: 1;
}

.bar_item.active .svg_phone path {
  fill: #01c597;
}

.popup_contact {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  color: rgb(75, 74, 74);
  font-weight: 300;
}
.popup_title {
  font-size: 0.8rem;
}

.phonePopup p {
  font-weight: 500;
  color: #016fb8;
}
/* NAVBAR CSS*/

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

header {
  position: relative;
  padding: 0;
  height: 50px;
}
.navbar {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
}

.nav__link,
.nav img {
  transition: opacity 0.3s ease-in-out;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.toggle_btn_img {
  display: none;
}

.logo img {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  width: 100%;
  top: 0;
}

.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  background: #f7f1f1;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: none;
}

.dropdown_menu.open {
  height: auto;
  z-index: 100;
}
.dropdown_menu li {
  pad: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* /////////////// navbar END*/

/*NEW SLIDER */
.home-slider {
  max-width: 100%;
  height: 80vh;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.home-slide {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.home-slide img {
  /* Only for images that have different size than slide */
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 80vh;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(212, 211, 211, 0.158);
  backdrop-filter: blur(10px);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  box-sizing: border-box;
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 0.3rem;
  width: 1.2rem;
  border-radius: 20%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #fffafa;
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
}

.des {
  background-color: rgba(0, 0, 0, 0.253);
  backdrop-filter: blur(5px);
  border: 20px solid transparent;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  font-size: 0.9rem;
  font-weight: 280;
}

.author {
  font-weight: 150;
  letter-spacing: 10px;
  text-decoration: none;
}
.title,
.topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.topic {
  color: #18f3b1;
}
/*HOME BUTTON */
.button {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1px;
  position: relative;
  background-color: rgb(20, 20, 20);
  /* backdrop-filter: blur(10px); */
  border: 1px solid #01c597;
  color: #f8f8f8;
  padding: 10px;
  width: 180px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  border-radius: 5px;
}

.button:hover {
  background: transparent;
  /* box-shadow: 0px 2px 10px 5px #1abc9c; */
  color: #05fcc6;
}

.button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button:focus {
  outline: 0;
}
/* CONTENT END STYLE*/
.bottom-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 3rem;
  font-size: 3vw;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #afaeae;
}
/* GENERAL ELEMENTS */

.section {
  padding: 5rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section-custom {
  padding: 5rem 3rem;
  border-top: 1px solid #ddd;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem); /* work for mobile phones*/
}

.section__title {
  max-width: 60rem;
  margin: 0 auto 8rem auto;
  letter-spacing: 3px;
}

.section__description {
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-primary);
}

.section__header {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 600;
  margin-top: 0.8rem;
  color: #252525;
}

/* SECTION-1 TOP BANNER */

.section_banner {
  width: 70%;
  margin: auto;
}
.section_banner img {
  border-radius: 15px;
}
/*delta opt*/
.product_delta {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.product_delta img {
  margin: auto;
  height: auto;
  min-height: 25rem;
  display: block;
  object-fit: cover;
  object-position: center center;
  max-width: 100%;
}

.product_content {
  position: absolute;
  top: 20%;
  width: 20rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #111010;
  z-index: 2;
}

.product_content h2,
.product_content p {
  margin: 0;
}
/* delta opt end */

.main_product_container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.product_container_secondary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_container_secondary {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 37.5rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 3rem;
}
.section_banner .product_content h2,
.section_banner .product_content p,
.section_banner .product_content button,
.section_banner .product_container_secondary h2,
.section_banner .product_container_secondary p,
.section_banner .product_container_secondary button {
  padding: 0;
  margin: 0.2rem 0;
}
.section_banner button,
.product_container_secondary button {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border: none;
  background: linear-gradient(90deg, #0162c8, #09ceec);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.section_banner .product_content h2,
.section_banner .product_container_secondary h2 {
  font-size: 1.6rem;
}
.section_banner .product_content p,
.section_banner .product_container_secondary p {
  font-weight: 350;
}

/*//////////SECTION 1 END/////*/

/*/////////// section 2/////
/* FEATURES */

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
  min-height: 28rem;
}

.features_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 0 5rem 0;
}
.svg_logo {
  justify-content: flex-start;
  width: 6rem;
  height: auto;
}
.features__header {
  font-size: 1.5rem;
  margin: 0;
}
.features_div p {
  font-size: 1rem;
  font-weight: 200;
}

/* section 3*/

/* table com */
#section--3 img {
  width: 100%;
  height: auto;
  max-width: none;
  margin: 0 auto;
  overflow: hidden;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

th,
td {
  padding: 15px;
  text-align: center;
  font-size: 1rem;
  height: auto;
}

.dark_column {
  background-color: #dedede;
}
.bright_column {
  background-color: rgb(247, 245, 245);
}

.table_title {
  font-weight: bold;
}

table img {
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

table img:hover {
  transform: scale(1.1);
}

.image-title {
  margin-top: 2.5%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
/* TABLE END */

/*banner contact */

/* Media upit za male prozore */
.custom-banner {
  width: 70%;
  height: auto;
  background-color: rgb(73, 72, 72);
  position: relative;
  margin: auto auto 5rem;
  display: flex;
  align-items: center;
}

.banner-content {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.banner_title h2 {
  font-size: 2.5rem;
  margin: 0;
  color: rgb(250, 245, 245);
}

.banner_title p {
  color: rgb(250, 247, 247);
  font-weight: 400;
}

.email {
  color: #05d8aa;
}

.banner_button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #05d8aa;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.banner_button:hover {
  background-color: #232324;
  color: #ffffff;
}

/*////////*/

/*  slider center page banner */
/* IMAGE */
.slider-container {
  overflow: hidden;
  width: 100%;
  height: 35rem;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 25%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* IMAGE */

@media screen and (max-width: 768px) {
  .content_box {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .secondary_box,
  .primary_box {
    gap: 0.6rem;
  }
  .content_box {
    gap: 0.6rem;
  }
}
/*//////////END MEDIA//////////
/*wrapper */
.testimonial_container {
  width: 80%;
  max-width: 1040px;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 3rem auto; /* Center the container horizontally */
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
}
.title_test {
  display: flex;
  text-align: center;
}

.slider-wrapper {
  position: relative;
  max-width: 60rem;
  height: 25rem;
  margin: 0 auto;
  overflow: hidden;
}

.slide-wrap {
  position: absolute;
  top: 1rem;
  width: 100%;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.title_test h2 {
  font: 0.2rem;
}

.slide-wrap > img {
  border-radius: 50%;
  height: auto;
  width: 5rem;
  object-fit: cover;
  border: 1px black solid;
}

.btn-slide {
  position: absolute;
  top: 60%;
  z-index: 10;
  height: 5.5rem;
  width: 5.5rem;
  cursor: pointer;
  background: none;
  border: none;
}

.backward {
  left: 3rem;
  transform: translate(-80%, -50%);
  color: #a1a1a186;
}

.forward {
  right: 3rem;
  transform: translate(80%, -50%);
  color: #a1a1a186;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}

.dot {
  width: 25px;
  height: 5px;
  margin: 0 5px;
  border-radius: 0.5rem;
  background: rgba(39, 39, 39, 0.5);
  cursor: pointer;
}

.dot.active {
  background: #272727;
}

/*********** Service Guide*/

.service_guide {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.service_guide img {
  height: 4rem;
  width: 4rem;
}
.service_support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service_title {
  font-size: 1.5rem;
}

/**************SIGN UP & Footer*************/
.section--sign-up {
  background-color: #928f8f;
  text-align: center;
  margin: 0;
  padding: 6rem 0;
  border: 0;
}

.btn2-contact {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #05d8aa;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.btn2-contact:hover {
  background-color: #232324;
  color: #ffffff;
}

.footer {
  background-color: #515152;
}
.footer_contact {
  color: #ffffff;
}

.footer__nav {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer__item {
  margin-top: 1rem;
  margin-right: 4rem;
}

.footer__link {
  font-size: 1rem;
  color: #eee;
  text-decoration: none;
  font-weight: 200;
}

.footer__logo {
  width: 100%;
  height: 12rem;
}
.footer__copyright {
  margin: 0;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #aaa;
  text-align: center;
  font-weight: 250;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}
/* BOTTOM FOOTER SIGNUP END */

/* close modal picture */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.219);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 2500000000000;
}

.modal-content {
  position: relative;
  background: #444444a4;
  padding: 20px;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: 0px;
  font-size: 30px;
  color: #f7f3f3;
  cursor: pointer;
  z-index: 2500000000;
}

.modal-content img {
  max-width: 100%; /* Make the image 20% smaller */
  max-height: 90vh; /* Limit the height to 80% of the viewport height */
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  /* NAV BAR TOP START*/
  header {
    width: 100%;
    height: 2rem;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .navbar {
    padding: 0rem 0.3rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    max-width: 121px;
    height: auto;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }
  .navbar .links {
    display: none;
  }
  .toggle_btn_img {
    height: 28px;
    width: 35px;
    display: block;
    z-index: 200;
    margin: 0;
  }

  .dropdown_menu {
    display: block;
  }
  .dropdown_menu {
    width: 100%;
    right: 0;
    left: 0;
    margin-top: -28px;
    height: auto;
  }
  .nav.sticky {
    display: none;
  }
  .nav__link {
    color: #000000;
    font-weight: 500;
  }

  /* SECTION--1*/

  #section--1 {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
  }

  .section_banner {
    width: 90%;
    margin-bottom: 1rem;
  }
  .product_delta {
    margin-bottom: 0.5rem;
  }
  .main_product_container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .product_container_secondary {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 99%;
    max-width: 20rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .product_container_secondary h2 {
    font-size: 1.3rem !important;
  }

  .container-product img {
    margin: auto;
    height: auto;
    min-height: 25rem;
    display: block;
    object-fit: cover;
    object-position: center center;
    max-width: 100%;
    margin-bottom: 0.5rem;
  }

  /* section 1 END */

  /* SECTION 2 OPTIMISATION */
  #section--2 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .features {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .grow-order-2 {
    order: 1;
  }
  .grow-order-1 {
    order: 2;
  }
  .features_div {
    padding: 1rem;
    margin-top: -6rem;
  }
  .features__header {
    font-size: 1.1rem;
  }
  /* section 2 end///////

  /*****SERVICE*****/
  .service_guide {
    flex-direction: column;
    gap: 2rem;
    margin: auto;
  }

  /**** SLIDER WRAPPER-section */

  #section--45 {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  /*************/

  /* help banner */
  .custom-banner {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .banner-content {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  .banner_title h2 {
    font-size: 1.5rem;
  }
  /* POP UP PHONE BTN */

  .phonePopup {
    height: auto;
    margin-right: -10px;
  }

  /* footer NAV */

  .footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
  }
  .footer__item {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 0;
    border: 0;
    padding: 0;
    margin-top: 1.5rem;
  }

  .custom-style {
    padding: 15px !important;
  }
}

/* Responsive TOP CAROUSEL LIDER */
@media screen and (max-width: 900px) {
  /**TABLE */

  table {
    border-collapse: collapse;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
    display: flex;
  }

  th,
  td {
    padding: 2px;
    text-align: center;
    font-size: 0.45rem;
    height: auto; /**************FIX IT****/
    width: auto;
  }

  .image-title {
    margin-top: 2.5%;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    height: 2rem;
  }
}
/* TAble end
}

/* Media Query for Even Smaller Screens */
@media screen and (max-width: 590px) {
  /*////////*/
  html,
  body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  /************/

  .section__description {
    font-size: 0.5rem;
    font-weight: 300;
  }

  .section__header {
    font-size: 1.5rem;
  }
  /***************/

  /*homepage */

  .content {
    width: 100%;
    margin: 0;
  }

  .author {
    font-size: 0.6rem;
  }
  .title {
    font-size: 2rem;
  }
  .topic {
    font-size: 2rem;
  }
  .des {
    margin-top: 1rem;
  }
  .content {
    width: 100%;
    padding: 0 5px;
  }
  .prev {
    padding-left: 10px;
  }
  .next {
    padding-right: 10px;
  }

  .button {
    background-color: #000000;
    color: white;
  }
  /* homepage end*/

  /* home page bottom title opt */
  .bottom-title {
    width: 95%;
    height: 1.3rem;
    font-size: 1.1rem;
    color: #3e3f3f;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }
  /* Youtube video*/

  .features_video {
    width: 100%;
    overflow: hidden;
  }

  .youtube-container iframe {
    width: 100%;
    height: 18rem;
    border: 0;
  }

  /* end */

  /* custom middle banner*/ /* section3 */
  #section--3 {
    width: 100% !important;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .section_title {
    padding: 1rem;
  }

  .section--sign-up {
    margin: 0;
    padding: 6rem 0;
    border: 0;
  }

  .product_delta h2 {
    font-size: 1.3rem !important;
  }
}
